appversion==0.0.1
beautifulsoup4==4.12.2
build==1.0.3
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.7
docopt==0.6.2
google-play-scraper==1.2.4
idna==3.4
lxml==4.9.3
packaging==23.2
pip-tools==7.3.0
pipreqs==0.4.13
pyproject_hooks==1.0.0
requests==2.31.0
soupsieve==2.5
types-requests==2.31.0.20240125
urllib3==2.0.3
yarg==0.1.9
